*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-image: url(../img/backtop.png);
    background-repeat: no-repeat;
    background-position: top; 
}
html{
    font-size: 62.5%;
}


/*------- nav -----------*/
nav{
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar-brand{
    font-size: 3.5rem;
    font-weight: bold!important;
}
.nav-link{
    font-size: 1.6rem;
    padding-top: 20px;
    margin-right: 30px;
    font-weight: 600;
}
.nav-link.act{
    color: #262626!important;
}

.nav-item{
    text-align: center;
    padding-left: 15px;
    
}
.nav-item button{
    margin-right: -12px;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
}
.nav-item .btn{
    background-color: #343434;
    padding: 13px 75px 13px 75px;
    font-size: 2.1rem;
    border-radius: 15px;
    color: #ffffff;
    border: 1px solid #343434;
}
.nav-item .btn:hover{
    background-color: transparent;
    color: #343434;
} 
/* ---------hero------------ */
.hero{
    padding-top: 75px;
}
.hero-left{
    padding-top: 150px;
    width: 50%;
}
.hero-left h3{
    font-size: 3rem;
    font-weight: 600;
}
.hero-left h2{
    font-weight: 700;
    font-size: 5rem; 
    line-height: 1.5;
}
.hero-left p{
    margin-top: 35px;
    margin-bottom: 65px;
    font-size: 2.2rem;
    color: #707070;
    font-weight: 300;
}
.hero-left button{
    margin: 10px 30px 10px 0px;
}
.heromain{
    margin-bottom: 200px;
}
.hero-right  {
    width: 50%;
}
.hero-right img {
	cursor: pointer;
	width: 100%;
	float: right;
}
.hero-left .btn1{
    background-color: #005267;
    color: #fff;
    font-weight: 700;
    border-radius: 15px;
    font-size: 2rem;
    padding: 18px 30px 18px 30px;
}
.hero-left .btn1:hover{
    background-color: transparent;
    color: #005267;
    border: 1px solid #005267;
}

/* -------------box----------- */
.card.w-100 {
	margin: 20px;
	border-radius: 20px;
	margin-bottom: 50px;
	height: 700px;
}
    .card{
        border: none;
        -webkit-box-shadow: 0 0 30px 2px #F0F9F9;
    box-shadow: 0 0 30px 2px #F0F9F9;
    }
    .card-body{
        padding: 40px;
    }

    .card-title{
        margin-top: 20px;
        font-size: 2.6rem !important;
        font-weight: 600;
    }
    .card-text{
        font-size: 2rem !important;
        color: #707070;
        opacity: 80%;
        font-weight: 300;
        margin-top: 25px;
    }
    .card-body a{
        margin-top: 30px !important;
        text-decoration: none;
        font-size: 2rem;
        color: #707070;
        font-weight: 600;
        transition: .2s;
    }
    .card-body a:hover{
        letter-spacing: 1px;
        color: black;
    }

    .card-body .golgol{
        -webkit-box-shadow: 0 0 10px -2px #CFCFCF;
        box-shadow: 0 0 10px -2px #CFCFCF;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: block;
        padding: 25px;
        margin-top: -90px;
        background: #fff;
    }






/* -------------footer---------- */

.footer{
    background: #F0F9F9;
}
.footer1{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px 25px 0px;
}
.footertxt h1{
    font-size: 3rem;
    padding: 0px;
    font-weight: 700;
}
.footertxt{
    padding: 0 20px ;
    text-align: left;
}
.footertxt p{
    font-weight: 300;
    font-size: 2.1rem;
    color: #707070;
}
.footermail p{
    font-size: 1.8rem;
    font-weight: 300;
    color: #707070;
}

.footermail input{
    font-size: 1.9rem;
    padding: 10px 0px 10px 20px;
    width: 430px;
}
.footernav a {
    font-weight: 600;
}
.footernav{
    padding-top: 30px;
    display: block;
    margin: 0 auto;
    display: block;
}

.footernav ul{
    display: flex;
    justify-content: center;
    padding-bottom: 50px ;
    padding-left: 0px;
}

.footernav ul li{
    list-style: none;
}

.footernav ul li a{
    font-size: 1.5rem;
    padding: 0px 25px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.footernav ul li a:hover{
    text-decoration: underline;
}

.footertxt2{
    padding-bottom: 25px;
    font-size: 1.8rem;
	font-weight: 600;
	text-align: center;

}

.footerico{
    text-align: center;
}

.icons{
    text-align: center;
    width: 40px;
    padding: 12px 0px;
    font-size: 1.8rem;
    background: white;
    border-radius: 5px;
    margin: 7px;
    color: #B0B7C3;
}

.footercopy{
    text-align: center;
    margin: 30px 25px 0px 25px;
    padding-bottom: 30px;
}
.footermail input{
    border: 1px solid #efefef;
    border-radius: 5px;
}
.footercopy p a{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: #707070;
    padding: 0 10px;
}

.footercopy p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #707070;
} 
.fa-dribbble:hover{
    color: #BD225E;
}
.fa-facebook-f:hover{
    color: #4064AC;
}
.fa-twitter:hover{
    color: #009DED;
}
.fa-youtube:hover{
    color: red;
}
.resize {
	position: absolute;
	right: 0;
	top: -50%;
}
/*-------------- Responsive-------------- */
@media (max-width:1200px) {
   
}


@media (max-width:992px) {
html{
    font-size: 50%;
}
.hero-left br{
    display: none;
}
.card.w-100 {
	height: 600px;
}
}
@media (max-width:768px) {
    .nav-item .btn {
        padding: 4px 50px;
        margin-left: -35px;
        margin-top: 10px;
    }


    .row.row-cols-1.row-cols-md-2.g-4 {
        margin-left: -40px;
    }
    .hero-left {
        padding-top: 25px;
        width: 50%;
    }
    .heromain {
        margin-bottom: 100px;
    }
.footernav ul {
    flex-wrap: wrap;
    justify-content: center;
}
.footernav ul li {
    margin-bottom: 15px;
}
}
@media (max-width:576px) {
    br{
        display: none;
    }
    .hero-left{
        width: 100%;
    }
    .hero-right{
        display: none;
    }

body {
background-size: 144% 13%;
}
.footer1 {
display: flex;
justify-content: space-evenly;
padding: 50px 0px 25px 0px;
flex-direction: column;
text-align: center;
}
.footertxt {
margin-bottom: 30px;
text-align: center;
}
.footermail input {
width: 300px;
}

}


